@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.42;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    width: 1920px;
    height: 2930px;
    background: #001821;
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
}

header {
    position: relative;
    width: 1140px;
    height: 124px;
    margin-left: 390px;
}

.logo {
    position: absolute;
    width: 85px;
    height: 36px;
    left: 0px;
    top: 44px;
}

.menu {
    position: absolute;
    left: 164px;
    top: 29px;
}

.menu__item {
    display: inline-block;
    margin: 0px 27px;
}

a.menu__link{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

a.menu__link:hover {
    text-decoration: none;
    font-size: 14px;
    color: #F5170E;
}

.contacts {
    position: absolute;
    right: 0px;
    top: 29px;
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    font-size: 26px;
    display: block;
}

a.contacts__phone{
    text-decoration: none;
    color: #fff;
}

a.contacts__schedule {
    text-decoration: none;
    color: #fff;
}

.preview {
    margin-left: 390px;
    margin-top: 70px;
    width: 511px;
    height: 333px;
}

.preview__title {
    font-weight: 700;
    font-size: 72px;
    margin-top: 0px;
    margin-bottom: 27px;
}

.preview__text {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 33px;
}

.button {
    color: #F5170E;
    font-weight: 700;
    font-size: 14px;
    background: #fff;
    border: 1px solid #F5170E;
    border-radius: 35px;
    letter-spacing: 1px
}

.button:hover {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    background: #F5170E;
    border-radius: 35px;
    letter-spacing: 1px
}

.preview__button > .button {
    width: 168px;
    height: 55px;
}

.hotsale {
    width: 1200px;
    margin-left: 390px;
    margin-top: 246px;
}

.hotsale__title {
    font-weight: 700;
    font-size: 36px;
}

.hotsale__title::after {
    content: url(images/flame.png);
}

.hotsale__list {
    padding: 0px;
}
.hotsale__item {
    display: inline-block;
    width: 362px;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    margin-right: 27px;
} 

.hotsale__content {
    padding: 22px;
    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    color: #303030;
    height: 300px;
    position: relative;
}

.hotsale__subtitle {
    font-weight: 700;
    font-size: 24px;
}

.hotsale__features-list {
    padding: 0px;
}

.hotsale__features-item {
    display: inline-block;
    margin-right: 25px;
}

.hotsale__features-icon {
    vertical-align: bottom;
}

.hotsale__features-text {
    display: inline;
}

.hotsale__button > .button {
    width: 135px;
    height: 55px;
    position: absolute;
    left: 22;
    bottom: 10px;
}

.news {
    width: 1200px;
    margin-left: 390px;
    margin-top: 127px;
}

.news__title{
    font-weight: 700;
    font-size: 36px;
}

.news__list {
    padding: 0px;
}

.news__item {
    display: inline-block;
    width: 557px;
    height: 394px;
    vertical-align: top;
    position: relative;
}

.first {
    background-image: url(images/plain.png);
    margin-right: 27px;
}

.second {
    background-image: url(images/surfer.png);
}

.news__content {
    position: absolute;
    top: 252px;
    left: 30px;
}

.news__date {
    font-size: 14px;
}

.news__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}

.news__info {
    line-height: 21px;
}

.paginator {
    margin-top: 53px;
    text-align: center;
}

.paginator__display {
    display: inline;
}

.paginator__list {
    display: inline;
}

.paginator__item {
    display: inline;
    margin: 10px;
}

a.paginator__link {
    text-decoration: none;
    color: #fff;
}

a.paginator__link:hover {
    color: #F5170E;
}

.about {
    width: 1140px;
    height: 552px;
    margin-left: 390px;
    margin-top: 127px;
    position: relative;
}

.about__card {
    background-image: url(images/mountains.png);
    width: 625px;
    height: 410px;
    padding: 45px 81px 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.about__info {
    color: #060606;
    padding-right: 121px;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1px;
}

.about__button > .button {
    width: 168px;
    height: 55px;
    position: absolute;
    left: 81;
    bottom: 50px;
}

footer {
    position: relative;
    width: 1140px;
    margin-top: 53px;
    margin-left: 390px;
    border: #fff 4px solid;
}

.socials {
    position: absolute;
    left: 650px;
    margin-top: 20px;
}

.socials__list {
    padding: 0px;
}

.socials__item {
    display: inline;
    margin: 5px;
}

a.socials__link {
    text-decoration: none;
}