@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

html, body  {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    background: transparent;
    padding: 0;
    outline: none;
    border: 1px solid transparent;
}

p, h1, h2, h3 {
    margin: 0;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#main-page {
    background: #001821;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper--main-page {
    background: url(images/bg1.png) center top no-repeat, url(images/bg2.png) center bottom 188px no-repeat;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.wide-header{
    background: #01131d url(images/bg_services.png) center top no-repeat;
    height: 412px;
    margin-bottom: 98px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    margin-bottom: 123px;
}

.header--wide-header {
    padding-top: 31px;
    margin-bottom: 91px;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 79px;
}

.menu__item {
    display: inline-flex;
    margin-right: 51px;
}

.menu__item:last-child {
    margin-right: 0;
}

a.menu__link:hover {
    color: #F5170E;
}

.contacts {
    font-style: normal;
    font-size: 13px;
}

.contacts__phone {
    font-size: 26px;
    display: block;
    line-height: 27px;
}

.contacts__schedule {
    text-align: right;
    position: relative;
}

.contacts__schedule:hover .contacts__dropdown {
    opacity: 0.8;
    transition: opacity .4s;
    right: 0px;
}

.contacts__dropdown {
    position: absolute;
    background: #EDEDED;
    width: 160px;
    right: -9999px;
    top: 100%;
    padding: 19px;
    border-radius: 5px;
    opacity: 0;
    color: #1E1F20;
    font-size: 13px;
    line-height: 21px;
    text-align: left;
    margin-top: 20px;
}

.contacts__dropdown::before {
    content: "";
    display: inline-block;
    height: 30px;
    left: 0;
    right: 0;
    position: absolute;
    top: -29px;
}

.contacts__dropdown::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #EDEDED;
    transform: rotate(45deg);
    position: absolute;
    top: -10px;
    left: 98px;
}


.contacts__dropdown-days {
    font-weight: 700;
}

.wide-header__title {
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 103px;
}

.breadcrumbs__item {
    display: inline-flex;
    margin-right: 3px;
    color: #9A9A9A;
}

.breadcrumbs__link {
    text-decoration: underline;
}

.breadcrumbs__item::after {
    margin-left: 5px;
    content: '/';
}

.breadcrumbs__item:last-child::after {
    display: none;
}

.breadcrumbs__item--active {
    font-weight: 700;
}

.preview {
    width: 45%;
    margin-bottom: 246px;
}

.preview__title {
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 23px;
}

.preview__text {
    font-size: 18px;
    margin-bottom: 30px;
}

.button {
    color: #F5170E;
    background: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #F5170E;
    border-radius: 35px;
    padding: 0 10px;
    min-height: 55px;
}

.button:hover {
    color: #fff;
    background: #F5170E;
}

.preview__button > .button {
    min-width: 168px;
}

.hotsale {
    margin-bottom: 127px;
}

.hotsale__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 49px;
}

.hotsale__title::after {
    content: url(images/flame.png);
    margin-left: 5px;
}

.hotsale__list {
    display: flex;
}

.hotsale__item {
    width: 362px;
    background: #FFFFFF;
    border-radius: 5px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
}

.hotsale__item:last-child {
    margin-right: 0px;
}

.hotsale__image {
    margin-bottom: 15px;
}

.hotsale__content {
    padding: 20px;
    color: #303030;
    min-height: 290px;
}

.hotsale__subtitle {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 19px;
}

.hotsale__features {
    padding-left: 6px;
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-start;
}

.hotsale__features-item:first-child {
    margin-right: 28px;
}

.hotsale__features-icon {
    display: inline-flex;
    justify-content: flex-start;
    margin-right: 6px;
    vertical-align: middle;
}

.hotsale__features-text {
    display: inline-flex;
    justify-content: flex-start;
    font-size: 16px;
}

.hotsale__description {
    line-height: 21px;
    margin-bottom: 24px;
}

.hotsale__button > .button {
    min-width: 135px;
}

.news {
    margin-bottom: 146px;
}

.news__title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 51px;
}

.news__list {
    margin-bottom: 52px;
    display: flex;
}

.news__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 557px;
    height: 394px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 25px;
}

.news__item:last-child {
    margin-right: 0px;
}

.news__item--plain {
    background-image: url(images/plain.png);
}

.news__item--surfer {
    background-image: url(images/surfer.png);
}

.news__content {
    padding-left: 27px;
    min-height: 141px;
}

.news__date {
    margin-bottom: 16px;
}

.news__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
}

.news__info {
    font-size: 16px;
    line-height: 24px;
}

.paginator {
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
}

.paginator__display  {
    margin-right: 30px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__item {
    text-align: center;
    text-decoration: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: bold;
    line-height: 32px;
    background: transparent;
}

.paginator__item:hover {
    color: #F5170E;
    background-color: #fff;
    transition: background 0.4s;
}

.paginator__item--trip:hover {
    color: #fff;
    background-color: #F5170E;
    transition: background 0.4s;
}

.about {
    margin-bottom: 54px;
    display: flex;
    align-items: flex-start;
}

.about__photo {
    border-radius: 5px;
}

.about__card {
    background-image: url(images/mountains.png);
    width: 785px;
    height: 455px;
    border-radius: 5px;
    padding: 69px 81px 59px;
    margin-top: 96px;
    margin-left: -138px;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    margin-bottom: 38px;
}

.about__info {
    color: #060606;
    padding-right: 120px;
    font-size: 16px;
    line-height: 27px;
    min-height: 140px;
    margin-bottom: 35px;
}

.about__button > .button {
    min-width: 168px;
    min-height: 58px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001821;
}

.footer--main-page {
    border-top: 4px #444 solid;
    height: 140px;
    padding-top: 15px;
}

.footer--services {
    height: 150px;
}

.footer--review {
    height: 150px;
}

.container--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}

.socials {
    margin-right: 74px;
}

.socials__item {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 6px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item--telegram .socials__link {
    background: url(images/sprites.png) -66px -122px;
}

.socials__item--telegram .socials__link:hover {
    background: url(images/sprites.png) -122px -66px;
}

.socials__item--vk .socials__link {
    background: url(images/sprites.png) -66px -10px;
}

.socials__item--vk .socials__link:hover {
    background: url(images/sprites.png) -66px -66px;
}

.socials__item--facebook .socials__link {
    background: url(images/sprites.png) -10px -10px;
}

.socials__item--facebook .socials__link:hover {
    background: url(images/sprites.png) -10px -66px;
}

.socials__item--instagram .socials__link {
    background: url(images/sprites.png) -10px -122px;
}

.socials__item--instagram .socials__link:hover {
    background: url(images/sprites.png) -122px -10px;
}

.contacts__text {
    font-size: 11px;
    color: #9A9A9A;
    margin-bottom: 6px;
    text-align: right;
}

.trip {
    background: #fff;
    color: #000;
    margin-bottom: 99px;
}

.trip__list {
    margin-bottom: 65px;
}

.trip__item {
    display: flex;
    margin-bottom: 49px;
}

.trip__item:last-child {
    margin-bottom: 0px;
}

.trip__image {
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    height: 333px;
    border-radius: 5px;
}

.trip__content {
    display: flex;
    flex-direction: column;
    margin-left: 56px;
    margin-top: 13px;
}

.trip__subtitle {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 27px;
}

.trip__info {
    font-size: 16px;
    margin-bottom: 32px;
    min-height: 130px;
    line-height: 1.7;
}

.trip__button > .button {
    min-width: 168px;
}

.partners {
    background: #f4f5f5;
    color: #000;
    padding: 71px 0px 25px;
}

.partners__title {
    font-weight: 700;
    font-size: 48px;
    color: #1A1B1E;
    margin-bottom: 88px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    display: flex;
    max-height: 56px;
    margin-bottom: 80px;
    flex: 1 1 230px;
    align-items: center;
}

.partners__item:nth-child(4) {
    padding-left: 50px;
}

.partners__item:nth-child(7) {
    padding-right: 50px;
}

.partners__link:hover .partners__image {
    filter: grayscale(0%);
}

.partners__image {
    filter: grayscale(100%);
}

.review {
    color: #000;
    margin-bottom: 88px;
}

.review__list {
    column-count: 2;
    column-gap: 26px;
    margin-bottom: -22px;
}

.review__item {
    display: inline-block;
    background: #F4F5F5;
    border-radius: 5px;
    padding: 50px 28px 32px;
    margin-bottom: 22px;
}

.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
}

.review__photo {
    margin-right: 21px;
}

.avatar {
    display: inline-block;
    width: 142px;
    height: 142px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review__username {
    font-weight: 700;
    font-size: 24px;
    line-height: 42px;
    /* margin-bottom: 3px; */
}

.review__username:hover {
    text-decoration-line: underline;
    color: #2E77A4;
}

.review__username::after {
    content: url(images/vk-blue.png);
    margin-left: 3px;
    vertical-align: text-top;
}

.tag {
    border-radius: 35px;
    font-size: 13px;
    width: fit-content;
    padding: 0px 18px;
    line-height: 37px;
    text-align: center;
}

.review__tag {
    background: #B9EAE4;
    color: #303030;
}

.review__content {
    padding: 0px 3px;
}

.review__title {
    font-weight: 700;
    font-size: 30px;
    padding-left: 3px;
    margin-bottom: 12px;
}

.review__text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 27px;
    color: #818181;
}

.review__date {
    font-weight: 700;
    color: #1A1B1E;
}

.paginator--review {
    margin-top: 72px;
}

.advert {
    background: #F3B09D url(images/advert.png) center center no-repeat;
    height: 363px;
    min-width: 1920px;
    display: flex;
    align-items: center;
}

.advert__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    width: 594px;
}

.form {
    background-color: #F4F5F5;
    color: #1A1B1E;
    padding: 60px 0px 93px;
}

.form__title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 63px;
}

.form__fill {
    margin-bottom: 0px;
}

.form__row {
    display: flex;
    margin-bottom: 37px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #FFFFFF;
    padding: 20px 30px;
}

.form__input::placeholder {
    font-size: 18px;
    color: #666666;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input:focus {
    border: 1px solid #F5170E;
}

.form__input:hover {
    border: 1px solid #F5170E;
}

.form__input--textarea {
    height: 211px;
}

.form__controls {
    display: flex;
    margin-bottom: 21px;
}

.form__controls--title {
    width: 38%;
    padding-top: 11px;
    font-size: 18px;
    color: #1A1B1E;
}

.form__controls--list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.form__controls--item {
    margin-bottom: 10px;
    margin-right: 6px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox {
    display: none;
}

.controls__tag {
    background: #E7E7E7;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
}

.form__button {
    display: flex;
    justify-content: flex-end;
}

.form__button > .button {
    min-width: 168px;
}

.button--reset{
    background: #8E8E8E;
    color: #fff;
    border: transparent;
    margin-right: 17px;
}

.button--reset:hover {
    background: #2B2B2B;
}

.welcome {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(images/welcome-bg.png) center center no-repeat;
}

.welcome__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 591px;
    height: 248px;
    background: url(images/shades.png);
    opacity: 0;
    animation: zoom .9s ease-in forwards;
    padding-top: 56px;
}

.welcome__description {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 55px;
}

.welcome__button > .button {
    min-width: 168px;
}

@keyframes zoom {
    from {
        transform: scale(.7);
    }

    20% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}