@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

html, body  {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.wrapper {
    /* height: 100%; */
    width: 100%;
    overflow-x: hidden;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    background: transparent;
    padding: 0;
    outline: none;
    border: 1px solid transparent;
}

p, h1, h2, h3 {
    margin: 0;
}

body {
    background: #001821;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-page-wrapper {
    background: url(images/bg1.png) center top no-repeat, url(images/bg2.png) center bottom 188px no-repeat;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

header {
    position: relative;
    min-height: 124px;
    margin-bottom: 70px;
}

.logo {
    position: absolute;
    top: 29px;
}

.menu {
    position: absolute;
    left: 164px;
    top: 37px;
}

.menu__item {
    display: inline-block;
    margin-right: 54px;
}

.menu__item:last-child {
    margin-right: 0;
}

a.menu__link:hover {
    color: #F5170E;
}

.contacts {
    position: absolute;
    right: 0px;
    top: 29px;
    font-style: normal;
    text-align: right;
    font-size: 13px;
}

.contacts__phone {
    font-size: 26px;
    display: block;
    line-height: 27px;
}

.preview {
    width: 511px;
    margin-bottom: 246px;
}

.preview__title {
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 23px;
}

.preview__text {
    font-size: 18px;
    margin-bottom: 33px;
}

.button {
    color: #F5170E;
    background: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #F5170E;
    border-radius: 35px;
    padding: 0 10px;
    min-height: 55px;
}

.button:hover {
    color: #fff;
    background: #F5170E;
}

.preview__button > .button {
    min-width: 168px;
}

.hotsale {
    margin-bottom: 127px;
}

.hotsale__title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 49px;
}

.hotsale__title::after {
    content: url(images/flame.png);
}

.hotsale__item {
    display: inline-block;
    width: 362px;
    background: #FFFFFF;
    border-radius: 5px;
    vertical-align: top;
    margin-right: 23px;
}

.hotsale__item:last-child {
    margin-right: 0px;
}

.hotsale__image {
    margin-bottom: 7px;
}

.hotsale__content {
    padding: 20px;
    color: #303030;
    min-height: 270px;
}

.hotsale__subtitle {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 19px;
}

.hotsale__features {
    padding-left: 6px;
    margin-bottom: 23px;
}

.hotsale__features-item {
    display: inline-block;
    margin-right: 25px;
}

.hotsale__features-item:last-child {
    margin-right: 0px;
}

.hotsale__features-icon {
    vertical-align: bottom;
}

.hotsale__features-text {
    display: inline;
    margin-left: 5px;
    margin-bottom: 2px;
}

.hotsale__description {
    line-height: 1.33;
    min-height: 70px;
    margin-bottom: 15px;
}

.hotsale__button > .button {
    min-width: 135px;
}

.news {
    margin-bottom: 127px;
}

.news__title{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 49px;
}

.news__list {
    margin-bottom: 36px;
}

.news__item {
    display: inline-block;
    width: 557px;
    min-height: 394px;
    border-radius: 5px;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    margin-right: 18px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    bottom: 10px;
    padding: 0 30px;
    min-height: 127px;
}

.news__date {
    margin-bottom: 0px;
}

.news__subtitle {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0px;
}

.news__info {
    font-size: 16px;
}

.paginator {
    text-align: center;
    padding-right: 39px;
}

.paginator__display  {
    display: inline-block;
    margin-right: 21px;
}

.paginator__list {
    display: inline-block;
}

.paginator__item {
    display: inline-block;
}

.paginator__link {
    display: block;
    text-decoration: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: bold;
    line-height: 32px;
    background: transparent;
}

a.paginator__link:hover {
    color: #F5170E;
    background-color: #fff;
    transition: background 0.4s;
}

.about {
    margin-bottom: 53px;
}

.about__photo {
    display: inline-block;
    border-radius: 5px;
}

.about__card {
    display: inline-block;
    vertical-align: top;
    background-image: url(images/mountains.png);
    width: 761px;
    min-height: 455px;
    border-radius: 5px;
    padding: 45px 81px;
    margin-top: 97px;
    margin-left: -136px;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    color: #000000;
    margin-bottom: 10px;
}

.about__info {
    color: #060606;
    padding-right: 120px;
    font-size: 16px;
    line-height: 27px;
    min-height: 230px;
    margin-bottom: 10px;
}

.about__button > .button {
    min-width: 168px;
    min-height: 55px;
}

footer {
    position: relative;
    height: 152px;
}

.footer--mainPage {
    border-top: 4px #444 solid;
}

.logo--footer {
    top: 49px;
}

.menu--footer {
    top: 57px;
}

.socials {
    position: absolute;
    top: 55px;
    right: 250px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item--telegram .socials__link {
    background-image: url(images/telegram.png);
}

.socials__item--telegram .socials__link:hover {
    background-image: url(images/telegram_hover.png);
}

.socials__item--vk .socials__link {
    background-image: url(images/vk.png);
}

.socials__item--vk .socials__link:hover {
    background-image: url(images/vk_hover.png);
}

.socials__item--facebook .socials__link {
    background-image: url(images/facebook.png);
}

.socials__item--facebook .socials__link:hover {
    background-image: url(images/facebook_hover.png);
}

.socials__item--instagram .socials__link {
    background-image: url(images/instagram.png);
}

.socials__item--instagram .socials__link:hover {
    background-image: url(images/instagram_hover.png);
}

.contacts--footer {
    top: 45px;
}

.contacts__text {
    font-size: 11px;
    color: #9A9A9A;
    margin-bottom: 7px;
}